{% if not user.is_authenticated %}
<link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />
{% include 'django_facebook/_facebook_js.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'fbpic/style.css' %}" />

<div class="img-contain">
<img src="{% static 'fbpic/images/nh7logo.png' %}" />
</div>

<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
	{% csrf_token %}
    <input type="hidden" value="/next" name="next" />
    <input type="hidden" value="/next" name="register_next" />
    <input type="hidden" value="/error" name="error_next" />
    {% csrf_token %}
    <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
</form>
{% endif %}

{% if user.is_authenticated %}
            <h1>Welcome {{ user.first_name }}</h1><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a><br />

            <p>
            Thank you for logging in with Facebook.
            </p>
{% endif %}