<html>
<head>
<meta charset="utf-8" />
<title>Raise Your Lumia</title>
{% include 'django_facebook/_facebook_js.html' %}
{% load staticfiles %}

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'fbpic/style.css' %}" />

<!-- JAVASCRIPTS -->
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/browser.js" type="text/javascript"></script>
<!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


</head>
<body>



{% if not user.is_authenticated %}
<div id="container"> 
  
    <img src="{{ STATIC_URL }}fbpic/images/mob-icon.png" alt="" class="mobile-icon" />
    <img src="{{ STATIC_URL }}fbpic/images/ms-logo.png" alt="Microsoft" class="ms-logo" />

  <div class="content-box">
    <p class="txt1">
        Time to #Raiseyourlumia  and <span>let the world see it.<br />Get ready for ultimate selfie.</span>
    </p>
    <span class="fb-btn"><div class="form">
        <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            {% csrf_token %}
            <input type="hidden" value="/{{zone}}" name="next" />
            <input type="hidden" value="/{{zone}}" name="register_next" />
            <input type="hidden" value="/error" name="error_next" />
            {% csrf_token %}
            <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
        </form>
        <img src="{{ STATIC_URL }}fbpic/images/hlp.png" alt="" class="robot" />
    </span>
    
  </div>
    
  
</div>

</div>
{% endif %}

{% if user.is_authenticated %}
<div class="form">
            <h1>Welcome {{ user.first_name }}</h1>
            Click
            <a href="{% url 'next' %}">here</a> to see your pictures<br />&nbsp;
            <h3>Your unique ID is : {{user.id}} </h3><br />&nbsp;<br />&nbsp;
            <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a><br />
</div>
{% endif %}
</body>
</html>