
<link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />
{% include 'django_facebook/_facebook_js.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'fbpic/style.css' %}" />

<div class="img-contain">
<img src="{% static 'fbpic/images/altologo.png' %}" />
{% if not user.is_authenticated %}
<!--<div style="text-align: center;">Login to get all your at #ChaseLife in 2015 taken by our #ChaseCam!</div>-->
</div>
<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;
<div class="form">
<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
	{% csrf_token %}
    <input type="hidden" value="/{{zone}}" name="next" />
    <input type="hidden" value="/{{zone}}" name="register_next" />
    <input type="hidden" value="/error" name="error_next" />
    {% csrf_token %}
    <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
</form>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="form">
            <h1>Welcome {{ user.first_name }}</h1>
            Click
            <a href="{% url 'next' %}">here</a> to see your pictures<br />&nbsp;
            <h3>Your unique ID is : {{user.id}} </h3><br />&nbsp;<br />&nbsp;
            <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a><br />
</div>
{% endif %}