{% load staticfiles %}
{{ b }}
<style>
td
{border: 2px solid black;}
.picture
{}
.comments
{width:800;}
img
{height:180;}
@media print {
    .page {page-break-after: always;}
}
</style>
<div class="page">
<h2 align="center">Group Name</h2>
    <table class="grouptable">
        <tr>
        <td class="picture">
            <img src="{% static 'fbpic/images/nh7logo.png' %}" />
            <p align="center">FirstName LastName</p>
        </td>
        <td class="comments">
        </td>
        </tr>
        <tr>
        <td class="picture">
        <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        <p align="center">FirstName LastName</p>
        </td>
        <td class="comments">
        </td>
        </tr>
        <tr>
        <td class="picture">
        <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        <p align="center">FirstName LastName</p>
        </td>
        <td class="comments">
        </td>
        </tr>
        <tr>
        <td class="picture">
        <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        <p align="center">FirstName LastName</p>
        </td>
        <td class="comments">
        </td>
        </tr>
    </table>
</div>
<div class="page">
<h2 align="center">Group Name</h2><br />
    <table class="grouptable">
        <tr>
        <td class="picture">
            <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        </td>
        <td class="comments">
        </td>
        </tr>
        <tr>
        <td class="picture">
        <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        </td>
        <td class="comments">
        </td>
        </tr>
        <tr>
        <td class="picture">
        <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        </td>
        <td class="comments">
        </td>
        </tr>
        <tr>
        <td class="picture">
        <img src="{% static 'fbpic/images/nh7logo.png' %}" />
        </td>
        <td class="comments">
        </td>
        </tr>
    </table>
</div>
