Group Name
{% load staticfiles %}
<style>
table
{}
.picture
{}
.comments
{}
img
{height:150;}
</style>
<table border=1 class="grouptable">
<tr>
<td class="picture">
<img src="{% static 'fbpic/images/nh7logo.png' %}" />
</td>
<td class="comments">
</td>
</tr>
<tr>
<td class="picture">
<img src="{% static 'fbpic/images/nh7logo.png' %}" />
</td>
<td class="comments">
</td>
</tr>
<tr>
<td class="picture">
<img src="{% static 'fbpic/images/nh7logo.png' %}" />
</td>
<td class="comments">
</td>
</tr>
<tr>
<td class="picture">
<img src="{% static 'fbpic/images/nh7logo.png' %}" />
</td>
<td class="comments">
</td>
</tr>
</table>