{% load staticfiles %}
<totalcode>
<style>
    td
    {border: 2px solid black;}
    .picture
    {}
    .comments
    {width:800;}
    img
    {height:180;}
    @media print {
        .page {page-break-after: always;}
    }
</style>

{% for page in b %}
<div class="page">
<h2 align="center">Group Name</h2>
    <table class="grouptable">
    {% for fellow in page %}
        <tr>
        <td class="picture">
            <img src="{{ fellow.4 }}" />
            <p align="center">{{ fellow.0 }}</p>
        </td>
        <td class="comments">
        </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}

</totalcode>