{% load staticfiles %}
<h2>Last {{zone}} Logged in Users: {{message}}</h2><br />
{{list_of_ids}}
<table border="1">
<tr>
<tr>
{% if zone == "trampoline" %}
<td>TRAMPOLINE id</td>
{% elif zone == "untameable" %}
<td>Untameable ID</td>
{% endif %}

<td>First Name</td><td>Last Name</td><td>Profile Pic</td></tr>
{% for each_user in list_of_users reversed %}
<tr>
{% if zone == "trampoline" %}
<td>{{each_user.trampoline_id}}</td>
{% elif zone == "untameable" %}
<td>{{each_user.untameable_id}}</td>
{% endif %}
<td>{{each_user.user.first_name}}</td><td>{{each_user.user.last_name}}</td><td><img src="{% url 'home' each_user.user.image.url %}" /></td></tr>
{% endfor %}
</table>
</form>