{% load staticfiles %}
<h2>Sorting Pictures of :{{user.batcam_id}} - {{user.user.first_name}}</h2><br />
<table>
<tr>
	<td>Already Selected</td><td>Hero Pictures</td><td>Posted to FB</td>
</tr>
<tr>
	<td>{{user.keep_count}}</td><td>{{user.hero_count}}</td><td>{{user.posted_count}}</td>
</tr>
{{message}}
<br />
<br />
<form action="{% url 'poster' %}" method="post">
{% csrf_token %}
<table>
{% for photo in photos %}
<tr>
<td>
<img style="height:200px;" src="{% static 'fbpic/images/batcam/outgoing/'%}{{photo.filename}}" />
</td>
<td>
<input type="hidden" value="{{photo.id}}" name="pic-id"/>
<input type="hidden" value="{{photo.filename}}" name="pic-filename"/>
<input type="checkbox" name="keep" value="{{photo.filename}}" /> Keep? <br />
<input type="checkbox" name="hero" value="{{photo.filename}}" /> Hero Pic<br />
</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Update" />

</form>