{% include 'django_facebook/_facebook_js.html' %}
<div>
	<h1>Welcome {{ user }}</h1>
	THANK YOU FOR REGISTERING
	<p><a href="{% url 'auth_logout' %}?next={{ '/'|urlencode }}" onclick="fbLogoutUser()">Logout</a> </p>
    <h2>Your unique ID is : {{user.id}} </h2>
</div>
<script>
function fbLogoutUser() {
    FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
            	console.log(response);
                // document.location.reload();
            });
        }
    });
}
</script>