{% include 'django_facebook/_facebook_js.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'fbpic/style.css' %}" />
<div class="form">
<div>
	<h1>Thank You {{ user.first_name }}!</h1> <br />
    
<div class="box1 congrts">
    <img src="{% static 'fbpic/images/alto-icon-in.png'%}" alt="hp" class="icon" />
    <p>Thank you.<br>Your registration was successful.</p>
    <a href="#" class="button1">Log out</a>
  </div>

</div>
<div>
        <p><a href="{% url 'auth_logout' %}?next={{ '/'|urlencode }}" onclick="fbLogoutUser()">Logout</a> </p>
</div>
<script>
function fbLogoutUser() {
    FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
            	console.log(response);
                // document.location.reload();
            });
        }
    });
}
</script>